@keyframes blob-animate {
    0% {
        transform: translate(40px, -25px);
    }
    50% {
        transform: translate(-30px, 35px);
    }
    100% {
        transform: translate(10px, -10px);
    }
}