@keyframes blob-animate {
    0% {
        transform: rotate(45deg) translate(10px);
    }
    50% {
        transform: rotate(135deg) translate(-10px);
    }
    100% {
        transform: rotate(-45deg) translate(0);
    }
}